<ul class="filter-type-items-inner">
  <li class="col-md-2" data-type="city" data-id="1">
    <input type="checkbox" id="city2-1">
    <label for="city2-1"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Авдеевка</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="2">
    <input type="checkbox" id="city2-2">
    <label for="city2-2"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Александровка</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="3">
    <input type="checkbox" id="city2-3">
    <label for="city2-3"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Алушта</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="4">
    <input type="checkbox" id="city2-4">
    <label for="city2-4"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Антрацит</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="5">
    <input type="checkbox" id="city2-5">
    <label for="city2-5"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Авдеевка</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="6">
    <input type="checkbox" id="city2-6">
    <label for="city2-6"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Алушта</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="7">
    <input type="checkbox" id="city2-7">
    <label for="city2-7"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Антрацит</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="8">
    <input type="checkbox" id="city2-8">
    <label for="city2-8"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Александровка</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="9">
    <input type="checkbox" id="city2-9">
    <label for="city2-9"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Авдеевка</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="10">
    <input type="checkbox" id="city2-10">
    <label for="city2-10"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Алушта</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="11">
    <input type="checkbox" id="city2-11">
    <label for="city2-11"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Антрацит</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="12">
    <input type="checkbox" id="city2-12">
    <label for="city2-12"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Александровка</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="13">
    <input type="checkbox" id="city2-13">
    <label for="city2-13"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Авдеевка</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="14">
    <input type="checkbox" id="city2-14">
    <label for="city2-14"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Алушта</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="15">
    <input type="checkbox" id="city2-15">
    <label for="city2-15"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Антрацит</label>
  </li>
  <li class="col-md-2" data-type="city" data-id="16">
    <input type="checkbox" id="city2-16">
    <label for="city2-16"><svg class="icon"><use xlink:href="svg/svg.svg#icon-circle"></use></svg><svg class="icon"><use xlink:href="svg/svg.svg#icon-checked"></use></svg> Александровка</label>
  </li>
</ul>
