@charset "utf-8";
@import url('bootstrap.min.css');
@import url('bootstrap-select.min.css');
@import url('jquery.fancybox.css');
@font-face {
    font-family: 'exo2';
    src: url('../fonts/exo2-regular.ttf');
}

.prosto_tak {
    margin-top: 50px;
}

img, a, textarea, input{
    outline: none !important;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.img-responsive {display: inline-block!important;}
body {
    font-family: 'exo2';
    font-weight: 400;
    line-height: 1.1;
}


/* ----- ------ ------ ----- ------ ------ personal_area ----- ------ ------ ----- ------ ------ */
.personal_area {
    background-color: #f3f0e9;
    padding-bottom: 40px;
}
.personal_area_text_1 {
    color: #403d3a;
    font-size: 16px;
    margin: 30px 0;
}
.personal_area_text_1 span {
    color: #49c7e7;
    font-weight: bold;
    text-transform: uppercase;
}
.personal_area .balance {
    color: #403d3a;
    font-size: 16px;
    display: inline-block;
    margin: 15px 0;
    padding: 15px 15px 15px 45px;
    background-color: #e4e0d7;
    
    background-image: url(../img/icon_coins.png);
    background-position: 20px 15px;
    background-repeat: no-repeat;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
.personal_area .nav-tabs {
    text-align: center;
    border: none;
    display: inline-block;
    margin-top: -28px;
    box-shadow: 0 17px 29px rgba(0,0,0,0.22);
}
.personal_area .nav-tabs li {
    display: inline-block;
    margin: 0;
}
.personal_area .nav-tabs li a {
    display: inline-block;
    color: #373b3c;
    font-size: 18px;
    background-color: #fff;
    padding: 10px 25px;
    margin: 0;
    -webkit-border: 1px solid #ebebeb;
       -moz-border: 1px solid #ebebeb;
         -o-border: 1px solid #ebebeb;
            border: 1px solid #ebebeb;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
         -o-border-radius: 0;
            border-radius: 0;
}
.personal_area .nav-tabs li a:hover,
.personal_area .nav-tabs li a:active,
.personal_area .nav-tabs li a:focus,
.personal_area .nav-tabs li.active a {
    color: #fff;
    background-color: #49c7e7;
}
.personal_area .nav-tabs li:first-child a {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.personal_area .nav-tabs li:last-child a {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#personal_area_2 .personal_area_text_1 {
    width: 560px;
    max-width: 100%;
    display: block;
    margin: 30px auto;
}
.box_balans {
    background-color: #5e6364;
    padding: 15px;
    text-align: left;
    display: block;
    position: relative;
}
.text_balans {
    color: #fff;
    font-size: 19px;
    display: inline-block;
    font-weight: bold;
}
.text_balans span {
    text-align: right;
    width: 150px;
    padding: 12px;
    display: inline-block;
    color: #44d157;
    font-size: 25px;
    background-color: #373b3c;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
.box_balans .btn_1 {
    color: #fff;
    text-transform: uppercase;
    float: right;
    text-align: center;
}
.btn_1 {
    text-align: center;
    text-transform: uppercase;
}
.txt_his {
    color: #403d3a;
    font-size: 27px;
    text-align: left;
    display: inline-block;
}
.mart_30 {
    margin-top: 30px;
}
.sort {
    display: inline-block;
    padding: 5px 30px 5px 0;
    color: #5e6364;
    font-size: 14.4px;
    float: right;
}
.table-responsive {
    margin-top: 40px;
    background: #f7f7f7;
}
.table-responsive .table {
    margin-bottom: 0;
}
.table-responsive .table thead {
    background-color: #b9b9b9;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
.table-responsive .table thead tr th {
    color: #fff;
    font-size: 14.4px;
    text-align: center;
}
.table-responsive .table tbody tr td {
    color: #373b3c;
    font-size: 18px;
}

.personal_area .box_tarif {
    background-color: #f5f5f4;
    padding: 10px 7px 30px;
    margin: 30px 0;
    -webkit-border: 1px solid #e7e4dd;
       -moz-border: 1px solid #e7e4dd;
         -o-border: 1px solid #e7e4dd;
            border: 1px solid #e7e4dd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}
.personal_area .box_tarif:hover {
    background-color: #fff;
    box-shadow: 0 8px 54px rgba(0,0,0,0.3);
}
.personal_area .color_1 {
    -webkit-border-bottom: 4px solid #81c340;
       -moz-border-bottom: 4px solid #81c340;
         -o-border-bottom: 4px solid #81c340;
            border-bottom: 4px solid #81c340;
}
.personal_area .color_2 {
    -webkit-border-bottom: 4px solid #8e529b;
       -moz-border-bottom: 4px solid #8e529b;
         -o-border-bottom: 4px solid #8e529b;
            border-bottom: 4px solid #8e529b;
}
.personal_area .color_3 {
    -webkit-border-bottom: 4px solid #ff5749;
       -moz-border-bottom: 4px solid #ff5749;
         -o-border-bottom: 4px solid #ff5749;
            border-bottom: 4px solid #ff5749;
}
.personal_area .color_4 {
    -webkit-border-bottom: 4px solid #49c7e7;
       -moz-border-bottom: 4px solid #49c7e7;
         -o-border-bottom: 4px solid #49c7e7;
            border-bottom: 4px solid #49c7e7;
}
.box_tarif_text_1 {
    color: #403d3a;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 7px 0 15px;
    -webkit-border-bottom: 2px solid #f3f0e9;
       -moz-border-bottom: 2px solid #f3f0e9;
         -o-border-bottom: 2px solid #f3f0e9;
            border-bottom: 2px solid #f3f0e9;
}
.color_2 .box_tarif_text_1 {
    color: #ff5749;
}
.personal_area .box_tarif ul {
    text-align: left;
    padding: 0;
    min-height: 240px;
}
.personal_area .box_tarif ul.list_text li {
    color: #949494;
    font-size: 15px;
    padding-left: 30px;
    margin-top: 15px;
    min-height: 20px;
    list-style: none;
    background-image: url(../img/icon_box_tarif.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.personal_area .box_tarif ul.list_text li.active {
    color: #403d3a;
    font-size: 15px;
    background-image: url(../img/icon_box_tarif_active.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.personal_area .box_tarif.color_4 ul.list_text li {
    color: #656361;
    font-size: 15px;
    padding-left: 10px;
    background: none;
}
.personal_area .box_tarif.color_4 ul.list_text li a {
    color: #49c7e7;
    text-decoration: underline;
}
.personal_area .box_tarif.color_4 ul.list_text li a:hover {
    text-decoration: none;
    color: #49c7e7;
}
.box_tarif_text_2 {
    min-height: 20px;
    margin: 15px 0;
    color: #49c7e7;
    font-size: 12px;
    text-transform: uppercase;
}
.box_tarif_text_3 {
    color: #403d3a;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    min-height: 50px;
}
.box_tarif_text_3 .sale {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    background-image: url(../img/sale.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 12px 0;
}
.box_tarif_text_3.line-th {
    color: #f84132;
    font-size: 18px;
    font-weight: bold;
}
.box_tarif_text_3.line-th span  {
    color: #626262;
    font-size: 16px;
    text-decoration: line-through;
    background: none;
}
.box_tarif_text_4 {
    color: #403d3a;
    font-size: 14px;
    margin-bottom: 30px;
}
.box_tarif_text_4 span {
    color: rgba(64,61,58,0.5);
}

.btn_1 {
    display: inline-block;
    color: #373b3c;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 0;
    width: 200px;
    max-width: 100%;
    -webkit-border: 2px solid #49c7e7;
       -moz-border: 2px solid #49c7e7;
         -o-border: 2px solid #49c7e7;
            border: 2px solid #49c7e7;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
         -o-border-radius: 50px;
            border-radius: 50px;
}
.btn_1:hover,
.btn_1:active,
.btn_1:focus {
    color: #fff;
    text-decoration: none;
    background-color: #49c7e7;
    box-shadow: 0 0 27px -6px #49c7e7;
}

.box_tarif_text_5 {
    color: #5acae7;
    font-size: 25px;
    text-align: left;
    margin: 90px 0 20px;
}
.box_zag {
    color: #403d3a;
    font-size: 15px;
    background: #e4e1d9;
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
.box_zag div {
    padding: 10px;
    display: inline-block;
}
.box_zag div:first-child {
    width: 90px;
    float: left;
    -webkit-border-right: 1px solid #f3f0e9;
       -moz-border-right: 1px solid #f3f0e9;
         -o-border-right: 1px solid #f3f0e9;
            border-right: 1px solid #f3f0e9;
}
.box_zag div:last-child {
    width: 180px;
    float: right;
    -webkit-border-left: 1px solid #f3f0e9;
       -moz-border-left: 1px solid #f3f0e9;
         -o-border-left: 1px solid #f3f0e9;
            border-left: 1px solid #f3f0e9;
}
.panel-heading {
    padding: 0;
}
.panel-heading a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #49c7e7;
    font-size: 18px;
    text-decoration: none;
}
.panel-heading .collapsed {
    background: #f9f8f4;
    color: #403d3a;
}
.circle {
    width: 90px;
    max-width: 100%;
    float: left;
    height: 50px;
    display: inline-block;
    background-image: url(../img/icon_box_tarif_active.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-border-right: 1px solid rgba(0,0,0,0);
       -moz-border-right: 1px solid rgba(0,0,0,0);
         -o-border-right: 1px solid rgba(0,0,0,0);
            border-right: 1px solid rgba(0,0,0,0);
}
.price_dop {
    float: right;
    width: 180px;
    max-width: 100%;
    height: 50px;
    text-align: right;
    padding: 14px 50px 0 0;
    color: #403d3a;
    font-size: 18px;
    background-image: url(../img/icon_blue_up.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    -webkit-border-left: 1px solid rgba(0,0,0,0);
       -moz-border-left: 1px solid rgba(0,0,0,0);
         -o-border-left: 1px solid rgba(0,0,0,0);
            border-left: 1px solid rgba(0,0,0,0);
}
.collapsed .circle {
    background-image: url(../img/icon_circle.png);
    -webkit-border-right: 1px solid #ececec;
       -moz-border-right: 1px solid #ececec;
         -o-border-right: 1px solid #ececec;
            border-right: 1px solid #ececec;
}
.collapsed .price_dop {
    background-image: url(../img/icon_down.png);
    -webkit-border-left: 1px solid #ececec;
       -moz-border-left: 1px solid #ececec;
         -o-border-left: 1px solid #ececec;
            border-left: 1px solid #ececec;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: none;
}
.panel-body {
    color: #403d3a;
    font-size: 15px;
    line-height: 1.4;
}
.pay_price {
    color: #403d3a;
    font-size: 18px;
    padding: 15px 30px;
    text-align: right;
    margin-top: 20px;
    -webkit-border-top: 1px solid #e4e1d9;
       -moz-border-top: 1px solid #e4e1d9;
         -o-border-top: 1px solid #e4e1d9;
            border-top: 1px solid #e4e1d9;
    -webkit-border-bottom: 1px solid #e4e1d9;
       -moz-border-bottom: 1px solid #e4e1d9;
         -o-border-bottom: 1px solid #e4e1d9;
            border-bottom: 1px solid #e4e1d9;
}
.pay_price span {
    font-size: 20px;
    font-weight: bold;
}
.btn_2 {
    color: #ffffff;
    background: #ff2a1a;
    padding: 15px 0;
    width: 200px;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
    display: inline-block;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
         -o-border-radius: 50px;
            border-radius: 50px;
}
.btn_2:hover,
.btn_2:active,
.btn_2:focus {
    text-decoration: none;
    color: #fff;
}
/* ----- ------ ------ ----- ------ ------ osnovnie_dannie ----- ------ ------ ----- ------ ------ */
.osnovnie_dannie {
    background: #f0ece4;
    padding-top: 40px;
    padding-bottom: 40px;
}
.txt_osn_1 {
    color: #66645f;
    font-size: 24px;
    display: inline-block;
    margin-right: 20px;
}
.osnovnie_dannie input[type='text'] {
    height: 45px;
    color: #686664;
    font-size: 24px;
    box-shadow: none;
    background: #f5f5f5;
    -webkit-border: 1px solid #c7c5c5;
       -moz-border: 1px solid #c7c5c5;
         -o-border: 1px solid #c7c5c5;
            border: 1px solid #c7c5c5;
}
.osnovnie_dannie .form-control::-moz-placeholder {
    color: #686664;
    opacity: 1;
}
.osnovnie_dannie .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: #686664;
}
.osnovnie_dannie .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #686664;
}

.osnovnie_dannie .input-group-addon {
    background-color: #f5f5f5;
    box-shadow: none;
    position: absolute;
    right: 0;
    z-index: 5;
    height: 100%;
    padding-top: 14px;
    -webkit-border-left: 0px solid #d0d0d0;
       -moz-border-left: 0px solid #d0d0d0;
         -o-border-left: 0px solid #d0d0d0;
            border-left: 0px solid #d0d0d0;
}
.input-group {
    position: relative;
}
.form-inline {
    margin-bottom: 15px;
}
.download_file {
    margin-top: 80px;
    padding: 40px 45px;
    display: inline-block;
    width: 100%;
    background: #faf8f6;
    color: #312f2c;
    font-size: 18px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
.download_file .btn_3 {
    display: inline-block;
    background: #49c7e7;
    padding: 20px 30px 20px 60px;
    background-image: url(../img/download_file.png);
    background-position: 15px 50%;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
         -o-border-radius: 50px;
            border-radius: 50px;
}
.download_file .btn_3:hover {
    text-decoration: none;
}
.txt_osn_2 {
    color: #312f2c;
    font-size: 14px;
    margin-top: 25px;
    text-align: center;
}
.txt_osn_2 a {
    color: #49c7e7;
    font-size: 20px;
    text-decoration: underline;
    -webkit-text-decoration-style: dashed;
       -moz-text-decoration-style: dashed;
         -o-text-decoration-style: dashed;
            text-decoration-style: dashed;
}
.txt_osn_2 a:hover {
    text-decoration: none;
}
/* ----- ------ ------ ----- ------ ------ osnovnie_dannie citys ----- ------ ------ ----- ------ ------ */
.citys {
    background: #eaedf0;
    padding-bottom: 80px;
}
.txt_city_1 {
    color: #312f2c;
    font-size: 34px;
    margin: 35px 0 5px;
}
.txt_city_2 {
    color: #312f2c;
    font-size: 14px;
    margin-bottom: 25px;
}
.citys p {
    padding: 15px 50px;
    position: relative;
    color: #403d3a;
    font-size: 17px;
    margin-bottom: 20px;
    -webkit-border-left: 1px solid #c7c5c5;
       -moz-border-left: 1px solid #c7c5c5;
         -o-border-left: 1px solid #c7c5c5;
            border-left: 1px solid #c7c5c5;
}
input[type='checkbox'] {
    margin-top: 0;
    margin-right: 10px;
    position: absolute;
    left: 20px;
    top: 14px;
    display: inline-block;
    width: 24px;
    height: 20px;
    z-index: 5;
    cursor: pointer;
    opacity: 0;
}
.citys input[type='checkbox'] + label {
    background-image: url(../img/icon_circle.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top: 14px;
    display: inline-block;
    width: 24px;
    height: 20px;
}
.citys input[type='checkbox']:checked + label {
    background-image: url(../img/icon_box_tarif_active.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 20px;
}
.citys input[type='text'] {
    height: 45px;
    color: #686664;
    font-size: 24px;
    box-shadow: none;
    background: #f5f5f5;
    padding-left: 35px;
    -webkit-border: 1px solid #c7c5c5;
       -moz-border: 1px solid #c7c5c5;
         -o-border: 1px solid #c7c5c5;
            border: 1px solid #c7c5c5;
}
.citys .form-control::-moz-placeholder {
    color: #686664;
    opacity: 1;
}
.citys .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: #686664;
}
.citys .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #686664;
}
.citys .input-group {
    width: 100%;
}
.citys .input-group-addon {
    background-color: #f5f5f5;
    box-shadow: none;
    position: absolute;
    left: 0;
    z-index: 5;
    height: 100%;
    padding-top: 14px;
    -webkit-border-right: 0px solid #d0d0d0;
       -moz-border-right: 0px solid #d0d0d0;
         -o-border-right: 0px solid #d0d0d0;
            border-right: 0px solid #d0d0d0;
}
.result_search,
.city_default {
    padding: 17px;
    background: #f5f5f5;
}
.result_search {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom: 1px solid #c7c5c5;
       -moz-border-bottom: 1px solid #c7c5c5;
         -o-border-bottom: 1px solid #c7c5c5;
            border-bottom: 1px solid #c7c5c5;
}
.city_default {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.txt_city_3 {
    color: #312f2c;
    font-size: 14px;
    margin-bottom: 10px;
}
.box_result_city {
    position: relative;
}
.result_city,.default_city {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    margin-top: 10px;
    color: #312f2c;
    font-size: 14px;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
         -o-border-radius: 50px;
            border-radius: 50px;
    -webkit-border: 2px solid #c7c5c5;
       -moz-border: 2px solid #c7c5c5;
         -o-border: 2px solid #c7c5c5;
            border: 2px solid #c7c5c5;
}
.result_city span,
.default_city span {
    margin-left: 10px;
    display: inline-block;
}
.result_city:hover,
.result_city:active,
.result_city:focus,
.default_city:hover,
.default_city:active,
.default_city:focus {
    color: #fff;
    text-decoration: none;
    background: #3ebbe1;
    -webkit-border: 2px solid #3ebbe1;
       -moz-border: 2px solid #3ebbe1;
         -o-border: 2px solid #3ebbe1;
            border: 2px solid #3ebbe1;
}
/* ----- ------ ------ ----- ------ ------ form_balans ----- ------ ------ ----- ------ ------ */
.form_balans,.form_nastroit {
    width: 520px;
    padding: 45px;
    background-color: #fff;
    z-index: 1000;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}
.form_nastroit {
    width: 790px;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
}
.in_form {
    display: inline-block;
}
.txt_form_1 {
    color: #373b3c;
    font-size: 40px;
    text-transform: uppercase;
}
.txt_form_2 {
    color: #373b3c;
    font-size: 14px;
    margin: 30px 0;
    display: inline-block;
    width: 100%;
}
.txt_form_3 {
    color: #c5c4c4;
    font-size: 24px;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
}
.box_pay {
    color: #403d3a;
    background: #f7f7f7;
    font-size: 26px;
    padding: 50px 34px;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    text-align: left;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    -webkit-border: 1px solid #d1d0d0;
       -moz-border: 1px solid #d1d0d0;
         -o-border: 1px solid #d1d0d0;
            border: 1px solid #d1d0d0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}
.box_pay:hover {
    color: #403d3a;
    text-decoration: none;
    box-shadow: 0 8px 54px rgba(0,0,0,0.3);
}
.form_balans .btn_1 {
    text-transform: uppercase;
    width: 260px;
    max-width: 100%;
}
.privat {
    background-image: url(../img/icon_pay_1.png);
}
.visa {
    background-image: url(../img/icon_pay_2.png);
}
.web {
    background-image: url(../img/icon_pay_3.png);
}
.fancybox-inner {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
} 

.form_nastroit p {
    padding-left: 35px;
    position: relative;
    color: #403d3a;
    font-size: 17px;
    margin-bottom: 20px;
}
.form_nastroit input[type='checkbox'] {
    margin-top: 0;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 24px;
    height: 20px;
    z-index: 5;
    cursor: pointer;
    opacity: 0;
}
.form_nastroit input[type='checkbox'] + label {
    background-image: url(../img/icon_circle.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 24px;
    height: 20px;
}
.form_nastroit input[type='checkbox']:checked + label {
    background-image: url(../img/icon_box_tarif_active.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 20px;
}
.box_week {
    background: #f4f3f3;
    padding: 15px;
    display: inline-block;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}
.weeks {
    position: relative;
    margin: 0 5px;
    display: inline-block;
    padding-bottom: 25px;
    color: #373b3c;
    font-size: 16px;
    text-align: center;
    width: 24px;
} 
.form_nastroit .weeks > input[type="checkbox"],
.form_nastroit .weeks > input[type="checkbox"] + label {
    bottom: 0!important;
    top: auto;
    margin: 0;
}

.btn_group {
    text-align: center;
    margin-top: 150px;
}
.btn_left,.btn_right {
    color: #312f2c;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
    -webkit-transition: all 0.5s ease 0s;
       -moz-transition: all 0.5s ease 0s;
         -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
    text-transform: uppercase;
    -webkit-border: 2px solid #49c7e7;
       -moz-border: 2px solid #49c7e7;
         -o-border: 2px solid #49c7e7;
            border: 2px solid #49c7e7;
}
.btn_left {
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    -webkit-border-right: 1px solid #49c7e7;
       -moz-border-right: 1px solid #49c7e7;
         -o-border-right: 1px solid #49c7e7;
            border-right: 1px solid #49c7e7;
}
.btn_right {
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-border-left: 1px solid #49c7e7;
       -moz-border-left: 1px solid #49c7e7;
         -o-border-left: 1px solid #49c7e7;
            border-left: 1px solid #49c7e7;
}
.btn_left:hover,
.btn_right:hover {
    background: #49c7e7;
    text-decoration: none;
}

.box_list {
    background: #fff;
    padding: 45px 35px 30px;
}
.txt_list_1 {
    color: #403d3a;
    font-size: 40px;
    font-weight: 900;
    display: inline-block;
}
.txt_list_2 {
    color: #403d3a;
    font-size: 18px;
    display: inline-block;
}
.result {
    color: #403d3a;
    font-size: 18px;
    display: inline-block;
}
.result span {
    font-size: 26px;
    font-weight: bold;
}
.btn_list_1 {
    color: #49c7e7;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 0 15px;
}
.btn_list_1:hover {
    text-decoration: underline;
    -webkit-text-decoration-style: dashed;
       -moz-text-decoration-style: dashed;
         -o-text-decoration-style: dashed;
            text-decoration-style: dashed;
}

.open_list thead {
    background: #373b3c;
    font-weight: 200;
    -webkit-border-bottom: 5px solid #44d157;
       -moz-border-bottom: 5px solid #44d157;
         -o-border-bottom: 5px solid #44d157;
            border-bottom: 5px solid #44d157;
}
.open_list .table {
    margin-bottom: 0;
}
.open_list .table > tbody > tr > td, 
.open_list .table > tbody > tr > th, 
.open_list .table > tfoot > tr > td, 
.open_list .table > tfoot > tr > th, 
.open_list .table > thead > tr > td, 
.open_list .table > thead > tr > th {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.table > tbody > tr > td:first-child, 
.table > tbody > tr > th:first-child {
    text-align: left;
}
.table > tbody > tr > td {
    color: #373b3c;
    font-size: 14px;
    text-align: center;
}
.tovar {
    color: #49c7e7;
    font-size: 18px;
}
.tovar:hover {
    color: #49c7e7;
    text-decoration: underline;
}
.open_list .text-price {
    color: #373b3c;
    font-size: 21px;
    text-align: right;
}
.open_list thead th {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}
.open_list thead th:last-child,
.open_list tbody th:last-child,
.open_list tbody td:last-child {
    text-align: right;
}
.chevron {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #373b3c;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
         -o-border-radius: 50px;
            border-radius: 50px;
    background-image: url(../img/up.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 10px;
}
.open_list .main_text {
    background: #dadada;
}
.open_list .main_text td {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
}
.open_list .btn_list_2 {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    background: #f1574a;
    padding: 15px 25px;
    margin: 50px 20px 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}
.open_list .btn_list_2:hover {
    color: #fff;
    background: none;
    text-decoration: none;
}
.open_list .btn_1 {
    margin: 50px 20px 0;
}
.open_list .btn_list_3 {
    display: inline-block;
    color: #373b3c;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 0;
    width: 180px;
    max-width: 100%;
    text-transform: uppercase;
    text-align: center;
    -webkit-border: 2px solid #f1574a;
       -moz-border: 2px solid #f1574a;
         -o-border: 2px solid #f1574a;
            border: 2px solid #f1574a;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
         -o-border-radius: 50px;
            border-radius: 50px;
}
.open_list .btn_list_3:hover {
    background: #f1574a;
    color: #fff;
    text-decoration: none;
}

.open_list .btn_list_4 {
    color: #ff5749;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 15px 0;
    margin: 50px 20px 0;
}
.open_list .btn_list_4:hover {
    color: #ff5749;
}
.box_sale {
    background: #64cf33;
    color: #ffffff;
    font-size: 23px;
    text-transform: uppercase;
    padding: 20px 0;
    display: block;
    width: 100%;
    text-align: center;
}
.open_list .delete {
    display: inline-block;
}
.open_list .delete span {
    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: 24px;
    padding: 13px;
    color: #ff5749;
}
.open_list .delete:hover span{
    background: #ff5749;
    color: #fff;
}
.nopad {
    padding: 0!important;
}

.open_list input[type='checkbox'] {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 20px;
    z-index: 5;
    cursor: pointer;
    opacity: 0;
}
.open_list input[type='checkbox'] + label {
    background-image: url(../img/icon_box_tarif.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 20px;
    margin: 5px 0 0;
}
.open_list input[type='checkbox']:checked + label {
    background-image: url(../img/icon_box_tarif_active.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 20px;
}
.checkbox-table,.close-table {
    width: 50px;
}
.minus,.plus {
    cursor: pointer;
    font-size: 25px;
    color: #403d3a;
    display: inline-block;
}
.minus:hover,
.minus:focus,
.minus:active,
.plus:hover,
.plus:focus,
.plus:active {
    color: #49c7e7;
}

