@@include('footer.html')

<a href="#0" class="back-top"><svg class="icon icon-arrow-up"><use xlink:href="svg/svg.svg#icon-arrow"></use></svg> </a>

<!--@@include('modules/modals/register-form.html')-->
<!--@@include('modules/modals/confirm-delete.html')-->
<!--<confirm-delete></confirm-delete>-->

</body>
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<!--<script
    src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.esm.js"
    crossorigin="anonymous"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.2.1/vuex.js"
    crossorigin="anonymous"></script>-->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"
    crossorigin="anonymous"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"
    crossorigin="anonymous"></script>
<!--<script
    src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
    crossorigin="anonymous"></script>-->

<script src="js/main.js"></script>
</html>