<div class="news-category-items-primary">
  <div class="row">
    @@include("news-category-item-primary.html", {
      "imgSrc"       : "img/news-item-1.png",
      "textHeader"   : "Novus запустил новую продукцию от компании huggias",
      "text"         : "C точки зрения банальной эрудиции каждый индивидуум, критически мотивирующий абстракцию, не может игнорировать критерии утопического субъективизма, концептуально интерпретируя общепринятые . . .",
      "date"         : "5 марта 2016",
      "extra": {
        "hits"       : "2",
        "likes"      : "21"
      }
    })
    @@include("news-category-item-primary.html", {
      "imgSrc"       : "img/news-item-2.png",
      "textHeader"   : "Novus запустил новую продукцию от компании huggias",
      "text"         : "C точки зрения банальной эрудиции каждый индивидуум, критически мотивирующий абстракцию, не может игнорировать критерии утопического субъективизма, концептуально интерпретируя общепринятые . . .",
      "date"         : "5 марта 2016",
      "extra": {
        "hits"       : "2",
        "likes"      : "21"
      }
    })
    @@include("news-category-item-primary.html", {
      "imgSrc"       : "img/news-item-3.png",
      "textHeader"   : "Novus запустил новую продукцию от компании huggias",
      "text"         : "C точки зрения банальной эрудиции каждый индивидуум, критически мотивирующий абстракцию, не может игнорировать критерии утопического субъективизма, концептуально интерпретируя общепринятые . . .",
      "date"         : "5 марта 2016",
      "extra": {
        "hits"       : "2",
        "likes"      : "21"
      }
    })
  </div>
</div>