<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="news-category-item">
    <a href="news-opened.html"></a>
    <div class="row">
      <div class="col-md-12">
        <div class="news-category-item-img">
          <img src=@@imgSrc alt="news-category-item">
        </div>
      </div>
      <div class="col-md-12">
        <div class="news-category-item-info">
          <div class="text-header-small">
            <a href="news-opened.html">@@textHeader</a>
          </div>
          <div class="news-category-item-info-footer">
            <div class="date">
              @@date
            </div>
            <div class="extra">
          <span><svg class="icon icon-eye"><use xlink:href="svg/svg.svg#icon-eye"></use></svg>
            <span>@@extra.hits</span>
          </span>
              <span><svg class="icon icon-heart"><use xlink:href="svg/svg.svg#icon-heart"></use></svg>
            <span>@@extra.likes</span>
          </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>