<article class="article">
  <div class="article-header header-block">
    Novus запустил новую продукцию от компании huggiеs
  </div>
  <div class="line-divide"></div>
  <div class="article-extra">

    <div class="date">
      19 июня 2016
    </div>

    <div class="extra">

      <span>
        <svg class="icon icon-eye">
          <use xlink:href="svg/svg.svg#icon-eye"></use>
        </svg>
        <span>3</span>
      </span>
      <span>
        <svg class="icon icon-heart">
          <use xlink:href="svg/svg.svg#icon-heart"></use>
        </svg>
        <span>15</span>
      </span>

      <button class="share btn-primary">
        <svg class="icon icon-share">
          <use xlink:href="svg/svg.svg#icon-share"></use>
        </svg>
        <span>Поделиться</span></button>
    </div>

  </div>
  <div class="article-img">
    <img src="img/news-opened.jpg" alt="opened" class="container container-lg-max">
  </div>

  <div class="article-main-wrapper">
    <div class="row">
      <div class="col-md-8">
        <div class="article-main text">
          <p>C точки зрения банальной эрудиции каждый индивидуум, критически мотивирующий абстракцию, не может
            игнорировать критерии утопического субъективизма, концептуально интерпретируя общепринятые дефанизирующие
            поляризаторы, поэтому консенсус, достигнутый диалектической материальной классификацией всеобщих мотиваций в
            парадогматических связях предикатов, решает проблему усовершенствования формирующих геотрансплантационн­ых
            квазипузлистатов всех кинетически коррелирующих аспектов.</p>
          <blockquote>
            Решает проблему усовершенствования формирующих
            геотрансплантационных квазипузлистатов всемх кинетически
            коррелирующих аспектов.
          </blockquote>
          <p>Исходя из этого, мы пришли к выводу, что каждый произвольно выбранный предикативно абсорбирующий объект
            рациональной мистической индукции можно дискретно детерминировать с аппликацией ситуационной парадигмы
            коммуникативно-функ­ционального типа при наличии детекторно-архаичес­кого дистрибутивного образа в
            Гилбертовом
            конвергеционном пространстве.</p>

          <p>Однако при параллельном колаборационном анализе
            спектрографических множеств, изоморфно релятивных к мультиполосным гиперболическим параболоидам,
            интерпретирующим антропоцентрический­ многочлен Нео-Лагранжа, возникает позиционный сигнификатизм гентильной
            теории психоанализа, в результате чего надо
            принять во внимание следующее: поскольку не только эзотерический, но и экзистенциальный апперцепционный
            энтрополог антецедентно пассивизированный высокоматериальной субстанцией, обладает призматической
            идиосинхрацией.</p>

          <p>Меланхолически осознавая эмбриональную клаустрофобию, может экстраполировать любой процесс интеграции и
            дифференциации в обоих направлениях, отсюда следует, что в результате синхронизации, ограниченной минимально
            допустимой интерполяцией образа, все методы конвергенционной концепции требуют практически традиционных
            трансформаций неоколониализма.</p>
        </div>
        <div class="article-extra">
          <div class="back-to-all-news">
            <button class="btn-primary">
              <svg class="icon icon-arrow-left">
                <use xlink:href="svg/svg.svg#icon-arrow"></use>
              </svg>
              <span>Все новости</span>
            </button>
          </div>

          <div class="extra">

          <span>
            <svg class="icon icon-eye">
              <use xlink:href="svg/svg.svg#icon-eye"></use>
            </svg>
            <span>3</span>
          </span>
            <span>
            <svg class="icon icon-heart">
              <use xlink:href="svg/svg.svg#icon-heart"></use>
            </svg>
            <span>15</span>
          </span>

            <button class="share btn-primary">
              <svg class="icon icon-share">
                <use xlink:href="svg/svg.svg#icon-share"></use>
              </svg>
              <span>Поделиться</span></button>
          </div>

        </div>
      </div>
      <div class="col-md-4 hidden-sm hidden-xs">
        <div class="sidebar-right related-news">
          <div class="text-header-high">
            Похожие новости
          </div>
          @@include('news-article-related-items.html')
        </div>
      </div>
    </div>
  </div>

  <div class="line-divide"></div>
  <div class="row">
    <div class="col-md-9 center">
      @@include('../../modules/comments/comments.html')
    </div>
  </div>

</article>
<div class="line-divide"></div>