<div class="col-md-12">
    <div class="row">
        <div class="list-of-brands">
            <div class="row">
                <div class="main-list-of-brands">
                    <div class="col-md-6">
                        <ul>
                            <li>
                                <a href="#">Эко маркет</a>
                            </li>
                            <li>
                                <a href="#">Сильпо</a>
                            </li>
                            <li>
                                <a href="#">Велика Кишеня</a>
                            </li>
                            <li>
                                <a href="#">Ашан</a>
                            </li>
                            <li>
                                <a href="#">Фора</a>
                            </li>
                            <li>
                                <a href="#">Метро</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>@@include('../../modules/rating.html')</li>
                            <li>@@include('../../modules/rating.html')</li>
                            <li>@@include('../../modules/rating.html')</li>
                            <li>@@include('../../modules/rating.html')</li>
                            <li>@@include('../../modules/rating.html')</li>
                            <li>@@include('../../modules/rating.html')</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>