<div class="news-category-items-secondary">
  <div class="row">

    @@include("partners-article-related-item.html", {
    "textHeader" : "Сільпо",
    "extra": {
    "hits" : "6",
    "likes" : "0"
    }
    })
    @@include("partners-article-related-item.html", {
    "textHeader" : "Metro",
    "extra": {
    "hits" : "6",
    "likes" : "0"
    }
    })
    @@include("partners-article-related-item.html", {
    "textHeader" : "Ашан",
    "extra": {
    "hits" : "6",
    "likes" : "3"
    }
    })
  </div>
</div>
