<article class="article">
<div class="row">
    <div class="row">
    <div class="row">
    <div class="row">
        <div class="row">
        <div class="row">
        <div class="row">
            <div class="row">
            <div class="row">
            <div class="row">
            <div class="row">
            <div class="row">
                <div class="article-img-top header-block">
                        <img src="img/partner-big.png" alt="Novus">
                    </div>
                    <div class="line-divide"></div>
                    <div class="article-extra partner-extra">

                        <button class="btn-bg-secondary pull-left button-of-brand">
                            <div>
                                <img src="img/shop.png" alt="Shop icon">
                            </div>
                            <div>
                                <span>В магазин</span>
                            </div>
                        </button>
                        @@include('../../modules/rating.html')
                        <button class="btn-primary pull-right button-of-brand1">
                            <span>Все каталоги</span>
                        </button>

                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            </div>
    </div>
        </div>
        </div>
</div>
    </div>
    </div>
    <div class="article-img">
        <img src="img/partner.png" alt="partner">
    </div>

    <div class="article-main-wrapper">
        <div class="row">
            <div class="col-md-8">
                <div class="partner-main article-main text">
                    <p>
                        NOVUS – динамично развивающаяся сеть супермаркетов, торговых центров и магазинов у дома. Одна из
                        самых
                        успешных и самых перспективных мультиформатных сетей в Украине.
                        Первый супермаркет под такой вывеской появился в Крыму в 2008 году. Сегодня общая площадь наших
                        торговых
                        комплексов составляет свыше 170 000 кв. м. Торговая площадь супермаркетов NOVUS – более 70 000
                        кв. м.
                    </p>
                    <p>
                        отечественном рынке, которая для открытия своих магазинов строит «с нуля» современные торговые
                        центры. С
                        2013 года наша компания сотрудничает с Европейским банком реконструкции и развития, который
                        предоставил сети
                        NOVUS 50 млн. долларов инвестиций на организацию сектора торговли продуктами питания в Украине.
                    </p>
                    <p>
                        Торговая сеть NOVUS – это высокие европейские стандарты ведения бизнеса и качества облуживания.
                        Мы
                        обеспечиваем нашим посетителям и покупателям мировой уровень сервиса и комфорта. Мы всегда
                        открыты к
                        сотрудничеству с партнерами и поставщиками, которые исповедуют аналогичные ценности. Компания
                        «НОВУС
                        УКРАИНА», управляющая торговой сетью NOVUS, - единственная на
                    </p>
                    <p>
                        Торговая сеть NOVUS исповедует философию свежих, здоровых и вкусных продуктов.
                        Мы предлагаем более 40000 наименований различных категорий товаров (от продуктов и напитков до одежды и садовых инструментов)
                        и широкий ассортимент нашей эксклюзивной продукции. А именно - продукции собственного и прямого импорта, который завозится в
                        Украину специально для нашей торговой сети. Кроме этого, в магазинах NOVUS - хороший выбор органических экологически чистых
                        и диетических продуктов. NOVUS - одна из немногих продовольственных сетей в Украине, качество управления которой подтверждено
                        сертификатом соответствия международным стандартам ISO 9001:2009.
                    </p>
                </div>
                <div class="article-extra partner-extra">

                    <button class="btn-bg-secondary pull-left button-of-brand">
                        <div>
                            <img src="img/shop.png" alt="Shop icon">
                        </div>
                        <div>
                            <span>В магазин</span>
                        </div>
                    </button>
                    <button class="btn-primary button-of-brand1">
                        <span>Все каталоги</span>
                    </button>
                    <button class="btn-primary pull-right button-of-brand2">
                        <div>
                            <svg class="icon share-icon">
                                <use xlink:href="svg/svg.svg#icon-share"></use>
                            </svg>
                        </div>
                        <div>
                            <span class="share-text">Поделиться</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="sidebar-right related-news">
                    <div class="text-header-high">
                        Похожие бренды
                    </div>
                    @@include('partners-article-list-brand.html')
                </div>
            </div>
        </div>
    </div>

    <div class="line-divide"></div>
    <div class="row">
        <div class="col-md-9 center">
            @@include('../../modules/comments/comment-brand.html')
        </div>
    </div>

</article>
<!--
<div class="line-divide"></div>-->
