<div class="news-slide">
  <div class="container container-lg-max">
    <div class="row">
      <div class="news-slide-wrapper">
        <div class="col-md-6">
          <div class="news-slide-inner">
            <div class="date">21 сентября 2016</div>
            <div class="news-slide-title">В Novus выращивают раков со вкусом омаров</div>
            <div class="news-slide-desc">С точки зрения банальной эрудиции каждый индивидуум, критически
              мотивирующий
              абстракцию, не может игнорировать критерии утопического субъективизма . . .
            </div>
            <button class="btn-primary news-slide-more">
              Читать
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>