.partner-my-catalogs {
  //background: $color-blue;
  &-header {
    margin-top: 25px;
    text-align: center;
    > button {
      float: left;
      @include font-size(14);
      @include font(bold);
    }
    .sort-wrapper {
      display: inline-block;
    }
    .catalogs-quantity {
      @include font-size(18);
      float: right;
      line-height: 50px;
    }
  }
}