.main {
  section {
    padding: 40px 0;
    &:first-of-type {
      margin-top: -25px;
      padding: 65px 0 30px 0;
    }
  }
  &-content {
    background-color: $color-white;
  }

  @include media(max, xs) {
    section {

      &:first-of-type {
        padding: 20px 0 30px 0;
      }
    }
  }
}


.contacts-content-icons {
  background-color: #f3f0e9;
  width: 100%;
  padding: 1em 2em;
}