<section class="news no-vert-padding">
    <div class="container container-lg-max">
      <div class="row">
        <div class="col-lg-12">
          <div class="news-header header-block">
            <div class="news-header-title">Новости</div>
            <div class="news-header-more">
              <a href="/app/news-category.html">
                Посмотреть все новости
                <svg class="icon icon-arrow-right"><use xlink:href="svg/svg.svg#icon-arrow"></use></svg>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>


  <div class="news-slider owl-carousel">
    @@include('news-slide.html')
    @@include('news-slide.html')
    @@include('news-slide.html')
  </div>

</section>