<div class="settings" id="settings">
  <div class="row">
    <div class="col-md-6">
      <div class="text-header-bigger">
        Личные данные
      </div>
      <form class="settings-private" action="" method="post">
        <label class="load-photo form-control settings-control" for="load_photo">
          <span class="load-photo-img vcenter"><img src="svg/photo_user.svg" alt=""></span>
          <span class="load-photo-text vcenter">
            <span class="load-photo-text-header">Загрузить фото</span>
            <span class="load-photo-text-main text-small">В данное окно можно перетащить фото</span>
          </span>
          <input type="file" name="load_photo" id="load_photo" accept="image/*">
        </label>

        <input required type="text" name="name" placeholder="Имя*"
               class="form-control settings-control">
        <input required type="text" name="surname" placeholder="Фамилия*"
               class="form-control settings-control">
        <input required type="email" name="email" placeholder="e-mail*"
               class="form-control settings-control">
        <input required type="tel" name="tel" placeholder="Телефон*"
               class="form-control settings-control">
        <div class="settings-private-header text-big">Дата рождения</div>
        <!--TODO: SLOT:form-control-select-->
        <label for="form-control-day" class="form-control-day">
          <select required name="day" id="form-control-day" class="form-control">
            <option value="12" selected>12</option>
            <option value="13">13</option>
          </select>
          <svg class='icon icon-arrow-down'>
            <use xlink:href='svg/svg.svg#icon-arrow'></use>
          </svg>
        </label>
        <label for="form-control-month" class="form-control-month">
          <select required name="month" id="form-control-month" class="form-control">
            <option value="Март" selected>Март</option>
            <option value="Апрель">Апрель</option>
          </select>
          <svg class='icon icon-arrow-down'>
            <use xlink:href='svg/svg.svg#icon-arrow'></use>
          </svg>
        </label>
        <label for="form-control-year" class="form-control-year">
          <select required name="year" id="form-control-year" class="form-control">
            <option value="1984" selected>1984</option>
            <option value="1985">1985</option>
          </select>
          <svg class='icon icon-arrow-down'>
            <use xlink:href='svg/svg.svg#icon-arrow'></use>
          </svg>
        </label>
        <label for="form-control-city" class="form-control-city">
          <select required name="city" id="form-control-city" class="form-control">
            <option value="Киев" selected>Киев</option>
            <option value="Харьков">Харьков</option>
          </select>
          <svg class='icon icon-arrow-down'>
            <use xlink:href='svg/svg.svg#icon-arrow'></use>
          </svg>
        </label>
        <input type="submit" value="Сохранить" class="btn-primary">
      </form>
    </div>
    <div class="col-md-6">
      <div class="text-header-bigger">
        Пароль
      </div>
      <form class="settings-change-pass" action="" method="post">
        <input required type="password" name="old_path" placeholder="Текущий пароль"
               class="form-control settings-control">
        <input required type="password" name="pass" placeholder="Новый пароль"
               class="form-control settings-control">
        <input required type="password" name="pass-confirm" placeholder="Повторить пароль"
               class="form-control settings-control">
        <input type="submit" value="Изменить" class="btn-primary">
      </form>
    </div>
  </div>
</div>