<div class="filter-type" id="tab-type-1">
  <ul class="filter-type-abc">
    <li class="filter-type-abc-item is-active" data-tab="tab-abc-1">
      <div>а</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-2">
      <div>б</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-3">
      <div>в</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-4">
      <div>г</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-5">
      <div>д</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-6">
      <div>е</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-7">
      <div>ж</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-8">
      <div>з</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-9">
      <div>и</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-10">
      <div>к</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-11">
      <div>л</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-12">
      <div>м</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-13">
      <div>н</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-14">
      <div>о</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-15">
      <div>п</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-16">
      <div>р</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-17">
      <div>с</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-18">
      <div>т</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-19">
      <div>у</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-20">
      <div>ф</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-21">
      <div>х</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-22">
      <div>ц</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-23">
      <div>ч</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-24">
      <div>ш</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-25">
      <div>щ</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-26">
      <div>э</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-27">
      <div>ю</div>
    </li>
    <li class="filter-type-abc-item" data-tab="tab-abc-28">
      <div>я</div>
    </li>
  </ul>
  <div class="filter-type-items is-active" id="tab-abc-1">
  @@include('filter-city-items.html')
  </div>
  <div class="filter-type-items" id="tab-abc-2">
    @@include('filter-city-items.html')
  </div>
  <div class="filter-type-items" id="tab-abc-3">
    @@include('filter-city-items.html')
  </div>
</div>