<nav class="filter tabs">
  <ul>
    @@for (var i = 0; i < name.length; i++) {
    <li class="filter-item " data-tab="tab-type@@number-`+(i+1)+`">
      <button class="btn-rect-primary">`+name[i]+`<svg class="icon icon-arrow-down"><use xlink:href="svg/svg.svg#icon-arrow"></use></svg> </button>
      <div class="filter-item-menu">

      </div>
    </li>
    }
  </ul>
  @@include('filter-type-city.html', {
    "letter": ["а", "б", "в", "г", "д", "е", "ж", "з", "и", "к", "л", "м", "н", "о", "п", "р", "с", "у", "ф", "х", "ц", "ч", "ш", "щ", "э", "ю", "я"],
    "number": "@@number"
  })
  @@include('filter-type-category.html', {
    "items": ["Продукты питания", "Бытовая техника и электроника", "Косметика краста и здоровье", "Доставка еды", "Кафе, бары, рестораны", "Автомобили, автотовары, топливо и услуги", "Одежда, обувь и аксессуары", "Подарки", " Товары, услуги для дома и ремонта", "Недвижимость", "Фитнес-клубы и спортивные товары", "Товары для детей", "Финансы", "Охота и рыбалка", "Кино, театры, развлечения", " Интернет, TV и IT-услуги", "Образование и развитие, книги", "Билеты, путешествия и отдых"],
    "number": "@@number"
  })
</nav>