.checkbox {
  input {
    display: none;
    &:checked {
      + label {
        svg {
          &:last-of-type {
            opacity: 1;
          }
        }
      }
    }
  }
  svg {
    &:last-of-type {
      @include animate(0.2);
      opacity: 0;
    }
  }
}