*, *:before, *:after  {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
svg {
  font-style: normal;
}
body, input, button, textarea, select {
  //
  outline: none;
  box-shadow: none;
  border: 0;
  padding: 0;
  background: none;
  margin: 0;
  @include font-size($main-text-size);
  font-family:$font-main;
  line-height:1.2;
  color: $color-text-main;
}
button, a, label, select, input[type=submit] {
  cursor: pointer;
}
body {
  overflow-x: hidden;
  color: $color-text-main;
}
a {
  color: $color-blue;
}
b {
  font-weight: normal;
  @include font(bold);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  @include font-size(40);
  font-weight:inherit;
  @include media(max, xs) {
    @include font-size(30);
  }
}
h2 {
  @include font-size(18);
}
h3 {
  @include font-size(14);
}

p {
  text-indent: rem(40);
}

.center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}