// img
$img-path: "../img/";
$svg-path: "../svg/";

// fonts
$font-path: "../fonts/";

// tygporaphy
$font-main: "Exo2-Regular";
$font-medium: "Exo2-Medium";
$font-semiBold: "Exo2-SemiBold";
$font-bold: "Exo2-Bold";
$font-black: "Exo2-Black";
$font-light: "Exo2-Light";
$font-extralight: "Exo2-ExtraLight";
$font-thin: "Exo2-Thin";

$main-text-size: 16;

//colors

$color-text-main: #403d3a;
$color-text-secondary: #f1574a;

$color-white: #fff;
$color-red: #ff5749;
$color-teal: #49c7e7;
$color-lightGrayBorder: #dadada;
$color-gray: #5e6364;
$color-darkGray: #373b3c;
$color-blue: #0f60ac;
$color-creamy: #f3f0e9;

$color-creamy-light: #f9f8f4;

//extra colors
$color-text-disabled: #ccc;
$color-text-comments: #b2b2b2;

$color-grayBorder: #d1d0d0;
$color-lightTeal: #eaedf0;
$color-disabled: #373B3C;
$color-lightGray: #f5f5f5;
$color-lighterGray: #faf8f6;
$color-midGray: #403D3A;

//for discounts
$color-yellow: #fde93d;
$color-orange: #f9791a;
$color-green: #44d157;
$color-greener: #64cf33;

//z-index
$z-index-content: 1;
$z-index-menu: 10;
$z-index-modals: 100;

//margins
$margin-top-form-block: 20px;

// border-radious

$border-radius-default: 4px;










