<nav class="filter">
  <ul>
    <li class="filter-item" data-tab="tab-type3-1">
      <button class="btn-rect-primary">Город<svg class="icon icon-arrow-down"><use xlink:href="svg/svg.svg#icon-arrow"></use></svg> </button>
      <div class="filter-item-menu">

      </div>
    </li>

    <li class="filter-item" data-tab="tab-type3-2">
      <button class="btn-rect-primary">Категория<svg class="icon icon-arrow-down"><use xlink:href="svg/svg.svg#icon-arrow"></use></svg> </button>
      <div class="filter-item-menu">

      </div>
    </li>

    <li class="filter-item" data-tab="tab-type3-3">
      <button class="btn-rect-primary">Сеть<svg class="icon icon-arrow-down"><use xlink:href="svg/svg.svg#icon-arrow"></use></svg> </button>
      <div class="filter-item-menu">

      </div>
    </li>

  </ul>
  @@include('filter-city.html')
  @@include('filter-category.html')
  @@include('filter-network.html')
</nav>