.back-top {
  @include size(50);
  display: inline-block;
  position: fixed;
  right: 0;
  z-index: $z-index-menu + 1;
  bottom: 80px;
  background-color: $color-teal;
  color: $color-white;
  border-radius: 50% 0 0 50%;
  svg {
    position: absolute;
    right: 15px;
    bottom: 16px;
    stroke-width: 0.5px
  }
  &:hover, &:focus {
    box-shadow: 0 0 15px 0 $color-teal;
  }
}
