.partners {
  @extend %betweenBlocksPadding;
  &-header {
    @extend %betweenBlocksPadding;
    text-align: center;
  }
  &-slider {
    @extend %betweenBlocksMargin;
  }
  &-slide {
    height: 72px;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: auto !important;
    }
  }
}