.user {
  cursor: pointer;
  float: right;
  &-name {
    vertical-align: middle;
  }
  &-item {
    .signed {
      @include font-size(14);
    }
  }
  .register-btn svg {
    width: 38px;
    height: 28px;
    vertical-align: middle;
    padding-left: rem(10);
    @include svg-full-color($color-gray);
    stroke-opacity: 0;
  }
}