<div class="news-category-items-primary">
  @@include("news-category-item-primary.html", {
  "imgSrc"       : "img/news-item-1.png",
  "textHeader"   : "Как выбрать подарок на 8 марта и не сойти с ума?",
  "text"         : "Мужчины, готовьтесь к судному дню! Впереди бессонные ночи, сотни запросов в гугле и тонны нелепых советов таких же отчаянных товарищей, как вы. И так каждый год.",
  "date"         : "3 марта 2017",
  "extra": {
  "hits"       : "2",
  "likes"      : "21"
  }
  })
  @@include("news-category-item-primary.html", {
  "imgSrc"       : "img/news-item-2.png",
  "textHeader"   : "Обзор дисконтных центров Киева",
  "text"         : "Дисконтные центры Киева и стоковые магазины брендовой одежды – излюбленная тема шопоголиков. Где еще мы можем купить качественную одежду по столь доступным ценам?",
  "date"         : "24 марта 2017",
  "extra": {
  "hits"       : "12",
  "likes"      : "15"
  }
  })
</div>