<article class="article">
  <h1 class="article-header header-block">
    Как выбрать подарок на 8 марта и не сойти с ума?
  </h1>
  <div class="line-divide"></div>
  <div class="article-extra">

    <div class="date">
      19 июня 2016
    </div>

    <div class="extra">

      <span>
        <svg class="icon icon-eye">
          <use xlink:href="svg/svg.svg#icon-eye"></use>
        </svg>
        <span>3</span>
      </span>
      <span>
        <svg class="icon icon-heart">
          <use xlink:href="svg/svg.svg#icon-heart"></use>
        </svg>
        <span>15</span>
      </span>

      <button class="share btn-primary">
        <svg class="icon icon-share">
          <use xlink:href="svg/svg.svg#icon-share"></use>
        </svg>
        <span>Поделиться</span></button>
    </div>

  </div>
  <div class="article-img">
    <img src="img/news-opened.jpg" alt="opened" class="container container-lg-max">
  </div>

  <div class="article-main-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="article-main text">
          <p>Мужчины, готовьтесь к судному дню! Впереди бессонные ночи, сотни запросов в гугле и тонны нелепых советов таких же отчаянных товарищей, как вы. И так каждый год.</p>
          <p>Спокойно. Все не так страшно, как кажется на первый взгляд, и Ваша неуверенность по поводу подарка к 8 марта скоро исчезнет. Мобилизуем все свои скрытые таланты, включаем круглосуточную наблюдательность и интуицию. А мы постараемся вам в этом помочь.</p>
          <p>Всегда помните, что женщинам свойственно оценивать Ваше к ней отношение по подарку. Особенно в такой-то день! Чем ближе Вы к &ldquo;десяточке&rdquo; в плане презента, тем больше у вас шансов завоевать признание своей спутницы. Большинство женщин определенно точно знают что хотят получить, но не говорят об этом открыто, потому что уверены, что Вы достаточно о ней знаете и можете сами понять, что нужно подарить.</p>
          <p>Вспомните февраль. Какое слово в этом месяце Вы слышали от своей женщины чаще всего? Скорее всего, это оно. Может, вы не заметили, но дама абсолютно точно намекала Вам на желаемый подарок &ndash; ненавязчиво, но методично.</p>
          <p>Подарки для женщин &ndash; это очень индивидуальная и эмоциональная тема. Но есть несколько советов, как не ошибиться с выбором и сделать хороший презент жене, девушке, маме и даже бабушке.</p>
          <h2>Что подарить девушке на 8 марта</h2>
          <p>Если Вы все же не помните намеков и ума не приложите, что подарить на 8 марта девушке, то знайте, что сегодня прекрасная половина делитсяна 2 категории:</p>
          <ul>
            <li>те, которые занимаются спортом;</li>
            <li>и те, которые и так красивые.</li>
          </ul>
          <p>Если Ваша избранница или жена подсела на спорт, то есть такие беспроигрышные идеи подарков на 8 марта:</p>
          <ul>
            <li>Спортивный инвентарь/форма. Это могут быть гантели, утяжелители, резина для тренировок, лосины с топом и перчатками для спорта, кроссовки. Но в последних случаях стоит заглянуть к ней в Инстаграмили Фейсбук и понять, что именно ей нравится. Ну или спросите прямо.</li>
          </ul>
          <ul>
            <li>Спортивное питание. Если девушка уже серьезно настроена стать фитоняшкой, то баночка протеина никогда не будет лишней. Но вспомните, не отзывалась ли она негативно о подобных добавках. Набор качественных витаминов также станет актуальным подарком в весенний период.</li>
          </ul>
          <ul>
            <li>Абонемент. Куда? Да куда хотите! Спортзал, бассейн, на танцы, в школу pole dance (сделайте и себе приятное) и т. д.</li>
          </ul>
          <ul>
            <li>Белье. Красивое белье любят все девушки. При этом не стоит бояться выбрать не то, ведь все равно покупается оно для вас, дорогие мужчины. Таким подарком Вы подчеркнете привлекательность девушки и дадите понять, что спортом она занимается не зря =)</li>
          </ul>
          <ul>
            <li>Если говорить о технике. Тут можно приобрести что-то на кухню, например, йогуртницу или блендер для ее смузи и прочих полезностей. Также присмотритесь к наушникам и плеерам (всегда нужны для тренировок).</li>
          </ul>
          <p>Подарок девушке на 8 марта, которая красивая и без всяких ваших спортов, тоже выбрать несложно:</p>
          <ul>
            <li>Хобби. Например, многие сейчас реализуют себя в сфере бьюти: ногти, волосы, наращивание ресниц и всякие другие женские штучки. Если Вам это знакомо, то смело дарите что-то связанное с ее любимым делом. Самый распространенный случай &ndash; гель-лаки. При таком раскладе можно купить набор лаков (только посмотрите название бренда на баночке и берите тот же), фрезеры, лампы для сушки ногтей (хорошие от 2&nbsp;000 грн.). Если боитесь не угодить, то спросите прямо или невзначай, чего не хватает в ее арсенале мастера.</li>
          </ul>
          <ul>
            <li>Уход за волосами. Ох уж эти волосы&hellip; Просто больная тема. Давайте на чистоту: понять женскую логику сложнее, чем разобраться в строении андронного коллайдера. Поэтому иногда проще смириться с тем, что девушки с кудрявыми волосами стремятся их выровнять, а с прямыми &ndash; накрутить. Поэтому лучше быть терпеливым и молчаливым Героем и подарить своей избраннице утюжек для выравнивания с керамическим, тефлоновым или титановым покрытием (если у женщины волнистые волосы), плойку (если волосы прямые), профессиональный фен, расчески для укладки или набор косметических средств для волос. В последнем случае есть 2 важных правила: 1) смотрим на ее упаковке шампуня, для какого типа волос предназначено средство, и берем по аналогии; 2) косметика должна быть или натуральной (так как подойдет практически каждой) или профессиональной.</li>
          </ul>
          <ul>
            <li>Украшения. Когда рассчитываете на бюджет выше среднего, то можно подарить что-то из ювелирки. Если девушка предпочитает только золото, то, конечно, губа не дура, т. е. дороговато будет... Но с серебром дело попроще &ndash; оно действительно сейчас недорогое. Главным мейнстримом стали браслеты ТМ подарок на 8 марта девушке понравится абсолютно каждой, которая носит украшения. Вот вам лайфхак: покупаете браслет с бусинами, и в ближайшие несколько лет беспроигрышным вариантом подарка для женщины на любой праздник будет дополнительные бусины для этого браслета))</li>
          </ul>
          <ul>
            <li>Одежда и аксессуары. Подарок хороший и практичный, но, как говорится, дело вкуса. Поэтому, если не знаете, как выглядит сумка ее мечты &ndash; идите в магазин с ней. Подарите девушке или жене праздничный шоппинг на 8 марта! Не очень красиво будет просто дать денег и отправить в магазин саму или с подругой &ndash; заработаете себе жирный минус.</li>
          </ul>
          <ul>
            <li>Бытовая техника. Тут, опять же, посмотрите что-нибудь жене для кухни. Сегодня много кофеманов, поэтому кофеварка вполне достойный подарок. Не надо дарить пылесос или утюг, если она сама не просила об этом. Не дай Бог, воспримет как намек!))</li>
          </ul>
          <ul>
            <li>Романтик или поход в&hellip;Устроить романтический, вкусный ужин можно как в ресторане, так и дома. При этом в последнем случае получится подарок на 8 марта своими руками. Так называемый, &laquo;поход в&hellip;&raquo; - это не что иное, как поход в театр, на концерт или в кино. Развлекательную программу лучше согласовать, если не уверены.</li>
          </ul>
          <ul>
            <li>СПА. Девушка любит расслабиться или посещает салоны красоты? Тогда СПА процедура с каким-то обертыванием, масочками и пилингами &ndash; идеальный вариант. Обратите внимание чтобы на сертификате в названии процедуры не было фраз типа: &laquo;избавление от целлюлита&raquo;, &laquo;для похудения&raquo;, &laquo;для борьбы с возрастными изменениями&raquo;. Понимаете, да?</li>
          </ul>
          <ul>
            <li>Подарочные сертификаты. Ко всем праздникам сферы услуг, проведения досуга и магазины выпускают подарочные сертификаты. Это может быть сертификат на массаж, маникюр, фотосессию, на покупку парфюмерии или косметики и т. д. Отдайте предпочтение тому, что любит девушка и подберите соответствующий подарок к 8 марта.</li>
          </ul>
          <ul>
            <li>Нет денег/не хочу напрягаться. Хорошо, тогда единственное Ваше спасение &ndash; букет цветов, вкусняшки и мягкая игрушка. Такой подарок, кстати, можно сделать девушке, которую знаете еще мало, и такой жест будет оценен &laquo;на ура&raquo;. Какие цветы? Если не знаете любимых, то розы или весенние тюльпаны. Между плюшевым зайцем и медведем всегда выбирайте медведя!</li>
          </ul>
          <p>ВАЖНО! В такой великий день цветы обязательно прилагаются к каждому подарку и не являются отдельным презентом. Это правило не обсуждается.</p>
          <h2>Что подарить маме на 8 марта</h2>
          <p>Мама &ndash; это человек, которому вообще хочется подарить весь мир. Но, если останавливаться на чем-то более реальном, можно составить такой список по возрастанию стоимости:</p>
          <ul>
            <li>Цветы, торт и хорошее настроение;</li>
            <li>Билет в театр или на &laquo;95 квартал&raquo; (ну все же его любят);</li>
            <li>Абонемент в бассейн или на фитнес (если мама активная);</li>
            <li>Бытовая техника. Спросите, что нужно, поскольку тут все зависит от степени продвинутости Вашей мамы;</li>
            <li>Билеты на отдых. Например, в Буковель ездят на лыжах кататься еще весь март. А вообще, в Карпатах еще и курорты с целебными источниками есть.</li>
          </ul>
          <p>Оригинальные подарки на 8 марта маме тоже выдумывать не стоит. Дарить ей косметику или одежу могут только дочери. Сыновьям от этой идеи лучше воздержаться. Подарок на 8 марта маме должен быть не столько дорогим, сколько выражать Ваше внимание, любовь и заботу.</p>
          <h2>Что подарить на 8 марта бабушке</h2>
          <p>Наши бабушки &ndash; это люди без потребностей. Им никогда ничего не надо. И пугает тот факт, что у них действительно есть все, что нужно. Если у бабушки чего-то нет, то она не знает, как этим пользоваться и оно ей не надо.</p>
          <p>Поэтому вопрос, что подарить бабушке на 8 марта, остается тайной, покрытой мраком. Тут нужен семейный мозговой штурм. Вдруг у нее все же что-то поломалось, например, мясорубка. Если хотите сделать полезный подарок, который точно понравится, то &ldquo;проникните&rdquo; в дом к бабушке перед праздником и исследуйте кухню. Обычно именно там хранятся все самые ценные вещи и техника. Заметили недостачу или испорченную сковородку, чайник, кастрюлю - &laquo;Бинго!&raquo;. Можно идти в магазин.</p>
          <p>Если поход увенчался провалом и все имущество целое, тогда просто купите красивый цветок в горшочке или букет, сладости и идите поздравлять. Для бабушки ведь главное, что про нее помнят и сам факт поздравления. Распейте с ней праздничную чашку чая, поговорите, уделите время &ndash; и Вы будете самым лучшим внуком или внучкой во Вселенной!</p>
          <p class="text-center">УДАЧИ ВАМ В ВЫБОРЕ ПОДАРКА К ЖЕНСКОМУ ДНЮ!</p>
        </div>
        <div class="article-extra">
          <div class="back-to-all-news">
            <button class="btn-primary">
              <svg class="icon icon-arrow-left">
                <use xlink:href="svg/svg.svg#icon-arrow"></use>
              </svg>
              <span>Все новости</span>
            </button>
          </div>

          <div class="extra">

          <span>
            <svg class="icon icon-eye">
              <use xlink:href="svg/svg.svg#icon-eye"></use>
            </svg>
            <span>3</span>
          </span>
            <span>
            <svg class="icon icon-heart">
              <use xlink:href="svg/svg.svg#icon-heart"></use>
            </svg>
            <span>15</span>
          </span>

            <button class="share btn-primary">
              <svg class="icon icon-share">
                <use xlink:href="svg/svg.svg#icon-share"></use>
              </svg>
              <span>Поделиться</span></button>
          </div>

        </div>
      </div>
    </div>
  </div>

</article>
<div class="line-divide"></div>