<div class="news-category-items-secondary">
  <div class="row">

    @@include("news-category-related-item.html", {
    "textHeader" : "Novus запустил новую продукцию от компании huggias",
    "date" : "5 марта 2016",
    "extra": {
    "hits" : "6",
    "likes" : "0"
    }
    })
    @@include("news-category-related-item.html", {
    "textHeader" : "В Южной Корее создали мороженое от похмелья",
    "date" : "28 мая 2016",
    "extra": {
    "hits" : "6",
    "likes" : "0"
    }
    })
    @@include("news-category-related-item.html", {
    "textHeader" : "Почти 200 человек не смогли улететь из Борисполя в Анталию",
    "date" : "18 сентября 2016",
    "extra": {
    "hits" : "6",
    "likes" : "3"
    }
    })
    @@include("news-category-related-item.html", {
    "textHeader" : "Телеведущий испугался паука в прямом эфире",
    "date" : "1 ноября 2016",
    "extra": {
    "hits" : "6",
    "likes" : "1"
    }
    })
    @@include("news-category-related-item.html", {
    "textHeader" : "Novus запустил новую продукцию от компании huggias",
    "date" : "5 марта 2016",
    "extra": {
    "hits" : "6",
    "likes" : "21"
    }
    })
  </div>
</div>
