<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="partners-header header-block">Более 80 торговых сетей</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="partners-slider owl-carousel">
          <div class="partners-slide">
            <img src="img/silpo-logo.png" alt="silpo">
          </div>
          <div class="partners-slide">
            <img src="img/novus-logo.png" alt="novus">
          </div>
          <div class="partners-slide">
            <img src="img/silpo-logo.png" alt="silpo">
          </div>
          <div class="partners-slide">
            <img src="img/novus-logo.png" alt="novus">
          </div>
          <div class="partners-slide">
            <img src="img/silpo-logo.png" alt="silpo">
          </div>
          <div class="partners-slide">
            <img src="img/novus-logo.png" alt="novus">
          </div>
          <div class="partners-slide">
            <img src="img/silpo-logo.png" alt="silpo">
          </div>
          <div class="partners-slide">
            <img src="img/novus-logo.png" alt="novus">
          </div>
          <div class="partners-slide">
            <img src="img/silpo-logo.png" alt="silpo">
          </div>
          <div class="partners-slide">
            <img src="img/novus-logo.png" alt="novus">
          </div>
          <div class="partners-slide">
            <img src="img/silpo-logo.png" alt="silpo">
          </div>
          <div class="partners-slide">
            <img src="img/novus-logo.png" alt="novus">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partners-slider-nav">
    <div class="owl-prev">
      <svg class='icon icon-arrow-left'>
        <use xlink:href='svg/svg.svg#icon-arrow'></use>
      </svg>
    </div>
    <div class="owl-next">
      <svg class='icon icon-arrow-right'>
        <use xlink:href='svg/svg.svg#icon-arrow'></use>
      </svg>
    </div>
  </div>
</section>
