<div class="rating">
  <span class="rating-item checked"><svg class="icon"><use xlink:href="svg/svg.svg#icon-star"></use></svg> </span>
  <span class="rating-item checked"><svg class="icon"><use xlink:href="svg/svg.svg#icon-star"></use></svg> </span>
  <span class="rating-item checked"><svg class="icon"><use xlink:href="svg/svg.svg#icon-star"></use></svg> </span>
  <span class="rating-item checked"><svg class="icon"><use xlink:href="svg/svg.svg#icon-star"></use></svg> </span>
  <span class="rating-item"><svg class="icon"><use xlink:href="svg/svg.svg#icon-star"></use></svg> </span>
</div>