<div class="search">
  <form action="">
    <button class="btn-rect-secondary search-btn hidden-xs hidden-sm">
      <span class="search-text">Найти</span>
      <svg class="icon icon-arrow-right">
        <use xlink:href="svg/svg.svg#icon-arrow"></use>
      </svg>
    </button>
    <div class="search-inner">
      <svg class="icon hidden-xs hidden-sm">
        <use xlink:href="svg/svg.svg#icon-search"></use>
      </svg>
      <input name="search-input" class="search-input" type="text" placeholder="Введите название товара">
    </div>
  </form>
</div>