<!--TODO send-msg-component-->
<section class="send-msg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 center">
        <div class="row"></div>
        <div class="col-md-7 col-sm-6 col-xs-12 col-sm-push-6 col-md-push-5 vcenter">
          <div class="send-msg-text">
            Есть вопросы / пожелания / предложения? Пишите, не стесняйтесь!
          </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12 col-sm-pull-6 col-md-pull-7 vcenter">
          <button data-mfp-src="#send-msg-form" type="button" class="send-msg-btn btn-primary">
            Отправить нам сообщение
          </button>
        </div>
      </div>
    </div>
  </div>
</section>