<div class="sort-extend">
  <form action="">
    <div class="filter-reset">
      <input type="reset" id="sort-reset"/>
      <label for="sort-reset">
        <svg class="icon">
          <use xlink:href="svg/svg.svg#icon-circle"></use>
        </svg>
        <svg class="icon icon-inside">
          <use xlink:href="svg/svg.svg#icon-cross"></use>
        </svg>
        <span>Сбросить фильтр</span>
        </label>
    </div>
    <div class="line-divide"></div>
    <div class="row">
      <ul class="sort-extend-items">
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-1">
          <label for="partner-1">
            <span>
            <svg class="icon">
              <use xlink:href="svg/svg.svg#icon-circle"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="svg/svg.svg#icon-checked"></use>
            </svg>
              </span>
            <span>
          Продукты питания
            </span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-2"><label
            for="partner-2">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Бытовая техника и электроника
      </span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-3"><label
            for="partner-3">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Косметика краста и здоровье
        </span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-4"><label
            for="partner-4">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Доставка еды</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-5"><label
            for="partner-5">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Кафе, бары, рестораны</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-6"><label
            for="partner-6">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Автомобили, автотовары, товливо и услуги</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-7"><label
            for="partner-7">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Одежда, обувь и
        аксессуары</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-8"><label
            for="partner-8">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Подарки</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-9"><label
            for="partner-9">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Товары, услуги для дома и ремонта</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-10">
          <label for="partner-10">
            <svg class="icon">
              <use xlink:href="svg/svg.svg#icon-circle"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="svg/svg.svg#icon-checked"></use>
            </svg>
            Недвижимость</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-11"><label
            for="partner-11">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Фитнес-клубы и спортивные товары</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-12"><label
            for="partner-12">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Товары для детей</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-13"><label
            for="partner-13">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Финансы</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-14"><label
            for="partner-14">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Охота и рыбалка</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-15"><label
            for="partner-15">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Кино, театры, развлечения</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-16"><label
            for="partner-16">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Интернет, TV и
        IT-услуги</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-17"><label
            for="partner-17">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Образование и развитие,
        книги</span></label>
        </li>
        <li class="filter-item-custom col-md-4"><input type="checkbox" name="" id="partner-18"><label
            for="partner-18">
          <span><svg class="icon">
            <use xlink:href="svg/svg.svg#icon-circle"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="svg/svg.svg#icon-checked"></use>
          </svg>
          </span><span>
        Билеты, путешествия и отдых</span></label>
        </li>
      </ul>
    </div>
  </form>
</div>