<div class="footer-social">
  <a href="#instagram"><svg class="icon"><use xlink:href="svg/svg.svg#icon-insta"></use></svg></a>
  <a href="#twitter"><svg class="icon"><use xlink:href="svg/svg.svg#icon-twitter"></use></svg></a>
  <a href="#facebook"><svg class="icon"><use xlink:href="svg/svg.svg#icon-facebook"></use></svg></a>
  <a href="#vk"><svg class="icon"><use xlink:href="svg/svg.svg#icon-vkontakte"></use></svg></a>
  <a href="#google"><svg class="icon"><use xlink:href="svg/svg.svg#icon-google"></use></svg></a>
  <a href=""><svg class="icon"><use xlink:href="svg/svg.svg#icon-skype"></use></svg></a>
  <a href="#telegram"><svg class="icon"><use xlink:href="svg/svg.svg#icon-viber-footer"></use></svg></a>
  <a href=""><svg class="icon"><use xlink:href="svg/svg.svg#icon-telegram-footer"></use></svg></a>
</div>