<div class="contacts">
  <div class="contacts-phones">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-xs-12">
        <div class="contacts-phone">
          @@include("../../../svg/extra/contacts-1.svg")
          <div>
            <span class="text-big">Тех поддержка</span>
            <div><a class="phone-call" href="tel:5551234567">+38 097 091 33 96</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-lg-offset-0 col-md-5 col-md-offset-1 col-xs-12">
        <div class="contacts-phone">
          @@include("../../../svg/extra/contacts-2.svg")
          <div>
            <span class="text-big">По вопросам сотрудничества</span>
            <div><a class="phone-call" href="tel:5551234567">+38 097 091 33 96</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>