<div class="social-contact">
    <div class="contacs-icons">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="header-of-social">
                        <p>подписаться</p>
                        <p>Подпишиетсь на наши группы в социальных сетях</p>
                    </div>
                    <div class="row">
                        <div class="main-socials">
                            <div class="col-md-2 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="icon-instagram">
                                                <a href="#instagram">
                                                    <svg class='icon hidden-sm hidden-xs'>
                                                        <use xlink:href='svg/svg.svg#icon-instagram'></use>
                                                    </svg>
                                                </a>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="icon-info">
                                                <a href="#instagram">instagram</a><br>
                                                <span><span class="bold">1756</span> подписчиков</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="icon-facebook">
                                                <a href="#facebook">
                                                    <svg class='icon hidden-sm hidden-xs'>
                                                        <use xlink:href='svg/svg.svg#icon-facebook'></use>
                                                    </svg>
                                                </a>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="icon-info">
                                                <a href="#instagram">facebook</a><br>
                                                <span><span class="bold">1756</span> подписчиков</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="icon-vkontakte">
                                                <a href="#vk">
                                                    <svg class='icon hidden-sm hidden-xs'>
                                                        <use xlink:href='svg/svg.svg#icon-vkontakte'></use>
                                                    </svg>
                                                </a>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="icon-info">
                                                <a href="#instagram">vkontakte</a><br>
                                                <span><span class="bold">1756</span> подписчиков</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="icon-google">
                                                <a href="#google">
                                                    <svg class='icon hidden-sm hidden-xs'>
                                                        <use xlink:href='svg/svg.svg#icon-google'></use>
                                                    </svg>
                                                </a>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="icon-info">
                                                <a href="#instagram">google +</a><br>
                                                <span><span class="bold">1756</span> подписчиков</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="icon-twitter">
                                                <a href="#twitter">
                                                    <svg class='icon hidden-sm hidden-xs'>
                                                        <use xlink:href='svg/svg.svg#icon-twitter-col'></use>
                                                    </svg>
                                                </a>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="icon-info">
                                                <a href="#twitter">twitter</a><br>
                                                <span><span class="bold">1756</span> подписчиков</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>