<div class="product-search-block">
    <div class="col-md-4">
        <div class="row">
            <div class="block-of-product" style="float: right;">
                <div class="header-product">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="name-shop-logo">
                                    <img src="img/metro.png" alt="Metro icon">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="date-sale">
                                    <span>(04 Июня - 10 Июля 2017)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="sale-action">
                                    <svg class="icon">
                                        <use xlink:href="svg/svg.svg#icon-telegram"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="header-name-sale">
                                    <span>Микс-драже Milka Lila Stars Bitz, 56 г и 140 г. </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="end-header-ratings">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="product-rating">
                                                @@include('rating.html')
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="like-this-product">
                                                    <svg class="icon icon-eye">
                                                        <use xlink:href="svg/svg.svg#icon-eye"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="number-products-view">
                                                        <span>2</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="like-this-product">
                                                    <svg class="icon">
                                                        <use xlink:href="svg/svg.svg#icon-heart"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="number-products-like">
                                                        <span>9</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center-product-block">
                    <div class="sale-image-product">
                        <img src="img/sale.png" alt="">
                    </div>
                    <div class="main-image-product">
                        <img src="img/milka.png" alt="Product image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="block-of-product">
                <div class="header-product">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="name-shop-logo">
                                    <img src="img/metro.png" alt="Metro icon">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="date-sale">
                                    <span>(04 Июня - 10 Июля 2017)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="sale-action">
                                    <svg class="icon">
                                        <use xlink:href="svg/svg.svg#icon-telegram"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="header-name-sale">
                                    <span>Микс-драже Milka Lila Stars Bitz, 56 г и 140 г. </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="end-header-ratings">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="product-rating">
                                                @@include('rating.html')
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="like-this-product">
                                                    <svg class="icon icon-eye">
                                                        <use xlink:href="svg/svg.svg#icon-eye"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="number-products-view">
                                                        <span>2</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="like-this-product">
                                                    <svg class="icon">
                                                        <use xlink:href="svg/svg.svg#icon-heart"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="number-products-like">
                                                        <span>9</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center-product-block">
                    <div class="sale-image-product">
                        <img src="img/sale.png" alt="">
                    </div>
                    <div class="main-image-product">
                        <img src="img/milka.png" alt="Product image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="block-of-product">
            <div class="header-product">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="name-shop-logo">
                                <img src="img/metro.png" alt="Metro icon">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="date-sale">
                                <span>(04 Июня - 10 Июля 2017)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="sale-action">
                                <svg class="icon">
                                    <use xlink:href="svg/svg.svg#icon-telegram"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="header-name-sale">
                                <span>Микс-драже Milka Lila Stars Bitz, 56 г и 140 г. </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="end-header-ratings">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="product-rating">
                                            @@include('rating.html')
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="like-this-product">
                                                <svg class="icon icon-eye">
                                                    <use xlink:href="svg/svg.svg#icon-eye"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="number-products-view">
                                                    <span>2</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="like-this-product">
                                                <svg class="icon">
                                                    <use xlink:href="svg/svg.svg#icon-heart"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="number-products-like">
                                                    <span>9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-product-block">
                <div class="sale-image-product">
                    <img src="img/sale.png" alt="">
                </div>
                <div class="main-image-product">
                    <img src="img/milka.png" alt="Product image">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>