<nav class="top-menu">
  <ul>
    <li class="top-menu-item"><a href="/app/about-us.html">О проекте</a></li>
    <li class="top-menu-item"><a href="/app/news-category.html">Новости</a></li>
    <li class="top-menu-item"><a href="/app/partners.html">Партнеры</a></li>
    <li class="top-menu-item"><a href="/app/faq.html">Техподдержка</a></li>
    <li class="top-menu-item"><a href="/app/contacts.html">Контакты</a></li>
  </ul>
</nav>
<div class="mobile-site-v">
  <a href="#">Мобильная версия сайта</a>
</div>