<div class="user-menu">
  <nav class="user-menu-main">
    <ul>
      <li class="user-menu-item"><a href="/app/my-lists.html">Мои каталоги</a></li>
      <li class="user-menu-item"><a href="/app/favorites.html">Баланс</a></li>
      <li class="user-menu-item"><a href="/app/settings.html">Настройки</a></li>
      <li class="user-menu-item"><a href="/app/settings.html">Техподдержка</a></li>
    </ul>
  </nav>
  <div class="user-logout">
    <div class="svg-logout-icon">
      <svg class="icon hidden-xs hidden-sm">
        <use xlink:href="svg/svg.svg#icon-quit"></use>
      </svg>
    </div>
    <div class="logout-word">
      <a href="#">Выйти</a>
    </div>
  </div>
</div>