<div class="how-it-works">
  <div class="header-block">
    Как это работает
  </div>
  <div class="how-inner">
    <svg class="icon icon-circle icon-circle-top">
      <use xlink:href="svg/svg.svg#icon-circle"></use>
    </svg>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="how-top">
            <div class="col-xs-6 no-padding">
              <button class="how-top-left big-button is-active">Пользователям</button>
            </div>
            <div class="col-xs-6 no-padding">
              <button class="how-top-right big-button">Партнерам</button>
            </div>
          </div>
          <div class="how-main">
            <div class="how-main-block odd">
              <svg class="icon icon-disk">
                <use xlink:href="svg/svg.svg#icon-disk" class="icon-disk"></use>
              </svg>
              <span class="icon-number">1</span>
              <div class="col-md-6 col-xs-12">
                <div class="how-main-block-photo is-active">
                  @@include("../../../svg/extra/how-it-works-1.svg")
                </div>
                <div class="how-main-block-photo">
                  @@include("../../../svg/extra/how-it-works-6.svg")
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="how-main-block-text is-active">
                  <div class="text-header"><span>Поиск скидок</span></div>
                  <p class="text">Искать скидки у нас просто, а находить – еще проще! Для Вас мы приготовили комфортную
                    систему поиска. Выводите информацию с помощью удобных фильтров. Добавляйте компании в избранное – и
                    их каталоги всегда будут в приоритете.</p>
                </div>
                <div class="how-main-block-text">
                  <div class="text-header"><span>Информация о компании</span></div>
                  <p class="text">Создайте страницу Вашей компании. Размещайте полезную информацию. Это даст возможность
                    пользователю узнать о Вас больше, задать вопрос, оставить отзыв. В результате Вы получите удобный
                    инструмент для изучения потребительского мнения.</p>
                </div>
              </div>
            </div>

            <div class="how-main-block even">
              <svg class="icon icon-disk">
                <use xlink:href="svg/svg.svg#icon-disk"></use>
              </svg>
              <span class="icon-number">2</span>
              <div class="col-md-6 col-xs-12 pull-right">
                <div class="how-main-block-photo is-active">
                  @@include("../../../svg/extra/how-it-works-2.svg")
                </div>
                <div class="how-main-block-photo">
                  @@include("../../../svg/extra/how-it-works-7.svg")
                </div>
              </div>
              <div class="col-md-6 col-xs-12 pull-left">
                <div class="how-main-block-text  is-active">
                  <div class="text-header"><span>Список покупок</span></div>
                  <p class="text">Составляйте список будущих покупок – это удобно и полезно. На Stocker Вы сделаете это
                    в несколько кликов. Список можно отправить на E-mail, Viber, WhatsApp или просто взять с собой,
                    чтобы не забыть сделать выгодную покупку.</p>
                </div>
                <div class="how-main-block-text">
                  <div class="text-header"><span>Каталоги</span></div>
                  <p class="text">Загружайте готовые каталоги Ваших товаров. Отслеживайте количество просмотров и
                    переходов. Продвигайте каталоги с помощью дополнительных инструментов.</p>
                </div>
              </div>
            </div>

            <div class="how-main-block odd">
              <svg class="icon icon-disk">
                <use xlink:href="svg/svg.svg#icon-disk"></use>
              </svg>
              <span class="icon-number">3</span>
              <div class="col-md-6 col-xs-12">
                <div class="how-main-block-photo  is-active">
                  @@include("../../../svg/extra/how-it-works-3.svg")
                </div>
                <div class="how-main-block-photo">
                  @@include("../../../svg/extra/how-it-works-8.svg")
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="how-main-block-text is-active">
                  <div class="text-header"><span>Закладки</span></div>
                  <p class="text">Добавляйте понравившиеся каталоги в закладки. Получайте быстрый доступ к ним в своем
                    личном кабинете.</p>
                </div>
                <div class="how-main-block-text">
                  <div class="text-header"><span>Конструктор</span></div>
                  <p class="text">У Вас нет готового каталога? Воспользуйтесь встроенным конструктором. Интуитивно
                    понятный интерфейс конструктора позволит Вам создать каталог самостоятельно за считанные минуты.</p>
                </div>
              </div>
            </div>

            <div class="how-main-block even">
              <svg class="icon icon-disk">
                <use xlink:href="svg/svg.svg#icon-disk"></use>
              </svg>
              <span class="icon-number">4</span>
              <div class="col-md-6 col-xs-12 pull-right">
                <div class="how-main-block-photo  is-active">
                  @@include("../../../svg/extra/how-it-works-10.svg")
                </div>
                <div class="how-main-block-photo">
                  @@include("../../../svg/extra/how-it-works-9.svg")
                </div>
              </div>
              <div class="col-md-6 col-xs-12 pull-left">
                <div class="how-main-block-text is-active">
                  <div class="text-header"><span>Онлайн-покупки</span></div>
                  <p class="text">Заинтересовались продуктом или услугой? Переходите на сайт компании прямо из каталога
                    для получения более детальной информации или оформления покупки.</p>
                </div>

                <div class="how-main-block-text">
                  <div class="text-header"><span>Интерактив с клиентами</span></div>
                  <p class="text">Участвуйте в обсуждениях. Работайте с отзывами, отвечайте на вопросы, формируйте и
                    укрепляйте позитивный имидж Вашей компании.</p>
                </div>
              </div>
            </div>

            <div class="how-main-block odd">
              <svg class="icon icon-disk">
                <use xlink:href="svg/svg.svg#icon-disk"></use>
              </svg>
              <span class="icon-number">5</span>
              <div class="col-md-6 col-xs-12">
                <div class="how-main-block-photo is-active">
                  @@include("../../../svg/extra/how-it-works-4.svg")
                </div>
                <div class="how-main-block-photo">
                  @@include("../../../svg/extra/how-it-works-10.svg")
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="how-main-block-text is-active">
                  <div class="text-header"><span>Оценки, отзывы, мнения</span></div>
                  <p class="text">Оставляйте отзывы о компаниях, товарах и услугах. Ваше мнение поможет другим
                    пользователям совершить верный выбор или просто получить полезную информацию. К тому же, изучение
                    отзывов поможет компаниям-продавцам эффективнее ориентироваться на Ваши потребности.</p>
                </div>
                <div class="how-main-block-text">
                  <div class="text-header"><span>Лояльные покупатели</span></div>
                  <p class="text">Размещайте прямые ссылки для перехода лояльных покупателей на сайт Вашей компании для
                    онлайн-покупки или получения дополнительной информации.</p>
                </div>
              </div>
            </div>

            <div class="how-main-block even">
              <svg class="icon icon-disk">
                <use xlink:href="svg/svg.svg#icon-disk"></use>
              </svg>
              <span class="icon-number">6</span>
              <div class="col-md-6 col-xs-12 pull-right">
                <div class="how-main-block-photo is-active">
                  @@include("../../../svg/extra/how-it-works-5.svg")
                </div>
                <div class="how-main-block-photo">
                  @@include("../../../svg/extra/how-it-works-5.svg")
                </div>
              </div>
              <div class="col-md-6 col-xs-12 pull-left">
                <div class="how-main-block-text is-active">
                  <div class="text-header"><span>Рассылка новостей</span></div>
                  <p class="text">Подписывайтесь на рассылку полезных новостей. Узнавайте первыми о грядущих акциях,
                    скидках и распродажах. Выбирайте частоту рассылки, регион, компании, категории или отдельные
                    товары.</p>
                </div>
                <div class="how-main-block-text">
                  <div class="text-header"><span>Дополнительные инструменты</span></div>
                  <p class="text">Хотите выгодно выделяться на фоне других компаний и увеличить продажи? Закажите
                    профессиональный дизайн каталога, опубликуйте свою статью, разместите каталог в разделе
                    “популярные” или предложите свой вариант.</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="how-top visible-xs">
          <div class="col-xs-6 no-padding">
            <button class="how-top-left big-button is-active">Пользователям</button>
          </div>
          <div class="col-xs-6 no-padding">
            <button class="how-top-right big-button">Партнерам</button>
          </div>
        </div>
      </div>
    </div>
    <svg class="icon icon-circle icon-circle-bot">
      <use xlink:href="svg/svg.svg#icon-circle"></use>
    </svg>
  </div>
</div>