.catalog-create {
  .text-header-highest {
    text-transform: inherit;
  }
  .modal-body {
    margin-top: 60px;
  }
  &-block {
    &-wrapper {
      position: relative;
      font-size: 0;
      text-align: center;
      border-radius: 4px;
      @include animate(0.25);
      /*&:not(:first-of-type) {
        margin-left: 15px;
      }*/
    }
    padding: 50px;
    max-width: 295px;
    border: 1px solid $color-grayBorder;
    @include media(max, sm) {
      padding: 25px;
    }
    @include media(max, xs) {
      margin: 10px auto;
    }
    &:hover {
      background-color: $color-gray;
      color: $color-white;
      .btn-primary {
        color: $color-white;
      }
      svg {
        *[fill*="373b3c"] {
          fill: #fff;
        }
      }
    }
    .svg-wrapper {
      height: 130px;
      position: relative;
      > svg {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        top: 0;
      }
    }
    .text {
      @include animate(0.25);
      &-wrapper {
        position: relative;
        &:before {
          content: " ";
          display: inline-block;
          height: 100%;
          width: 1%;
          vertical-align: middle;
        }
        .text-small {
          @include animate(0.25);
          height: 60px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}