<div class="about-us">
  <div class="header-block">О проекте</div>
  <div class="text">
    <p>Stocker – новое слово в украинском мире скидок. Это идеальное место встречи желающих купить повыгоднее и стремящихся продать побольше.</p>
    <!--<a class="read-more">Читать дальше</a>-->
    <p>
      Вы любите скидки, распродажи, акции? Тогда Stocker – для Вас! Здесь Вы найдете самые свежие и самые аппетитные предложения. Ведущие компании, интернет-магазины и торговые сети по всей Украине предлагают на нашем портале широчайший выбор товаров и услуг по самым низким ценам. Забудьте о купонах, сертификатах и промо-кодах! Привыкайте к бесплатным скидкам. Ведь больше платить не надо!
    </p>
    <p>Вы продаете товары или услуги? Хотите продавать больше? Тогда Stocker – тоже для Вас! Продавайте с нами, ведь это легко, быстро и эффективно. Размещайте информацию о своей компании, создавайте каталоги с заманчивыми предложениями и получайте лояльных покупателей. Попробуйте и убедитесь. Тем более, что все это бесплатно. Ну, или почти все ;-)</p>
    <p>Следите за новостями, подписывайтесь на наши страницы в социальных сетях, чтобы не пропустить запуск проекта. </p>
    <p>До очень скорой встречи!</p>
    <p>С уважением, команда Stocker.ua</p>

  </div>
</div>