<div class="become-partner">
  <div class="header-block">
    Как стать партнером
  </div>
  <div class="become-partner-block">
    <div class="container">
      <div class="row">
        <div class="hidden-xs col-sm-6 vcenter">
          <div class="about-partner-1">
          @@include("../../../../svg/extra/about-partner-1.svg")
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 vcenter">
          <div class="become-partner-block-text">
            <ul class="text">
              <li>
                <!--<span>1.</span>-->
                Оставьте заявку на бесплатную регистрацию Вашей компании на портале Stocker.ua в период предстарта.
              </li>
              <li>
                <!--<span>2.</span>-->
                Для этого воспользуйтесь формой обратной связи. Наш менеджер свяжется с Вами в кратчайшие сроки и
                ответит на все интересующие вопросы.
              </li>
              <!--<li>
                <span>3.</span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>